<!-- CSS da página -->
<link rel="stylesheet" type="text/css" href="view/produtos/produtos.css">
<link rel="stylesheet" href="../plugins/jQuery/jquery-2.2.3.min.js">
<link rel="stylesheet" href="../plugins/jQuery/jquery.mask.js">
<!--Inicio do código -->
<div class="container">
	<div class="panel panel-default">
		<div class="min-height-0 panel-default">
			<div class="panel-heading headingCss">
				<div class="row">
					<div class="col-md-8">
						<h4 class="wicked">
							<img src="../../dist/img/pata_de_felino.png" width="30px;" height="30px;" /> Produtos a venda
						</h4>
					</div>
					<div class="col-md-4">
						<div class="input-group" style="margin-top: 10px;">
							<input type="text" class="form-control roundedBar" ng-model="busca" placeholder="Busque seu anúncio aqui...">
							<span class="input-group-btn">
								<button class="btn btn-success" type="button">
									<span class="glyphicon glyphicon-search"></span>
									Buscar
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div dir-paginate="produtos in produtosView | filter: orderBy:sortKey:reverse|itemsPerPage: 12">
				<div class="col-md-3">
					<div id="columnAlign">
						<img class="card-img-top img-thumbnail imglogo" src={{produtos.fotoUrl}} alt="" data-toggle="modal" data-target="#modalAdocao">
						<div class="card-body">
							<div class="row">
								<div class="col-md-5" style="margin-top: 5px;">
									{{produtos.nome}}
								</div>
								<div class="col-md-7" style="margin-top: 5px;">
									{{produtos.loja}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-5" style="margin-top: 5px;">
									{{produtos.preco | currency}}
									<div ng-show="!produtos.preco">
										R$: ---
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row text-center">
				<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>

<!-- Modal produto -->
<div id="modalAdocao" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Conteudo do modal-->
		<div class="modal-content">
			<div class="modal-header headingCss" style="padding-bottom: 5px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<p class="wicked">
					<img src="../../dist/img/pata_de_felino.png" width="20px;" height="20px;" /> Detalhes do produto
				</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-5">
							<img class="card-img-top img-thumbnail imgModal" src="http://placehold.it/900x900" alt="">
						</div>
						<div class="col-md-7">
							<div class="form-group">
								<label for="nomeAnimal">Nome do produto</label>
								<input type="text" ng-model="produto.nome" class="form-control" placeholder="Nome do produto" id="nomeAnimal" />
							</div>
							<div class="form-group">
								<label for="preco">Preço do produto</label>
								<input type="number" ng-model="produto.preco" class="form-control" placeholder="Preço do produto" id="preco" />
							</div>
							<div class="form-group">
								<label for="endereco">Endereço</label>
								<input type="text" ng-model="produto.endereco" class="form-control" placeholder="Endereço do estabelecimento" id="endereco"
								/>
							</div>
							<div class="form-group">
								<label for="cidade">Cidade</label>
								<input type="text" ng-model="produto.cidade" class="form-control" placeholder="Cidade" id="cidade" />
							</div>
							<div class="form-group">
								<label for="estado">Estado</label>
								<input type="text" ng-model="produto.estado" class="form-control" placeholder="Estado" id="estado" />
							</div>
							<div class="form-group">
								<label for="telefone">Telefone contato</label>
								<input type="text" ng-model="produto.telefone" class="form-control" mask="(44) 9 9999-9999" placeholder="Telefone para contato" id="telefone" />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-12">
							<label for="comentarios">Como usar</label>
							<textarea ng-model="produto.comentario" class="form-control" rows="5" id="comentarios"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="margin-top: 10px;">
				<button type="button" class="btn btn-success" data-dismiss="modal">Voltar</button>
			</div>
		</div>
	</div>
</div>
</div>

<nav mfb-menu position="br" class="btnFloat" effect="zoomin" label="Adicionar produtos" active-icon="ion-paper-airplane"
 resting-icon="ion-plus-round" toggling-method="click" data-toggle="modal" data-target="#modalAdicionar"></nav>

<!-- Modal adicionar produtos -->
<div id="modalAdicionar" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Conteudo do modal-->
		<div class="modal-content">
			<div class="modal-header headingCss" style="padding-bottom: 5px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<p class="wicked">
					<img src="../../dist/img/pata_de_felino.png" width="20px;" height="20px;" /> Detalhes do produto
				</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<form name="ProdutosForm">
						<div class="col-md-12">
							<div class="col-md-5">
								<!-- Required -->
								<img class="card-img-top img-thumbnail imgModal" ng-src="{{photoUrl}}" ng-model="vendas.Image" alt="">
								<input type="file" accept="image/*" class="form-control" ng-model="vendas.fotoUrl" />

							</div>
							<div class="col-md-7">
								<div class="form-group">
									<label for="nomeAnimal">Nome do produto</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="produto.nome" required class="form-control" placeholder="Nome do produto" id="nomeAnimal" />
								</div>
								<div class="form-group">
									<label for="preco">Preço do produto</label>
									<span style="color:red">*</span>
									<input type="number" ng-model="produto.preco" required class="form-control" placeholder="Preço do produto" id="preco" />
								</div>
								<div class="form-group">
									<label for="endereco">Endereço</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="produto.endereco" class="form-control" required placeholder="Endereço do estabelecimento" id="endereco"
									/>
								</div>
								<div class="form-group">
									<label for="cidade">Cidade</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="produto.cidade" class="form-control" required placeholder="Cidade" id="cidade" />
								</div>
								<div class="form-group">
									<label for="estado">Estado</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="produto.estado" class="form-control" required placeholder="Estado" id="estado" />
								</div>
								<div class="form-group">
									<label for="telefone">Telefone contato</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="produto.telefone" required mask="(44) 9 9999-9999" class="form-control" placeholder="Telefone para contato" id="telefone"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-12">
								<label for="comentarios">Como usar</label>
								<textarea ng-model="produto.comentario" class="form-control" rows="5" id="comentarios"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-disabled="ProdutosForm.$invalid" ng-click="salvarAnuncio(produto)">Criar anúncio</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Voltar</button>
			</div>
		</div>
	</div>
</div>