<!-- CSS da página -->
<link rel="stylesheet" type="text/css" href="view/adocao/adote.css">
<!--Inicio do código -->
<div class="container-fluid">
	<div class="panel panel-default">
		<div id="tituloAdocao">
			<h3>Animais para adoção</h3>
		</div>
		<hr id="pipeTitulo">
		<div dir-paginate="adote in adoteView | filter: orderBy:sortKey:reverse|itemsPerPage: 12">
			<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src={{adote.fotoUrl}} height="200" width="200" alt=""></a>
                    <div class="card-body">
						{{adote.nome}}   
						{{adote.cidade}} - 
						{{adote.estado}}
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center"></div>
		<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
	</div>
</div>