@font-face{
   font-family: Wicked;
   src: url(../../dist/fonts/Wicked_Mouse.otf);
}



#conteinerRight {
    background-color: #3c8dbc;
    position: absolute;
    float:left;
    top: 0;
    overflow: hidden;
    z-index: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition-property: opacity;
    transition-duration: 1s;
}

.containerLeft {
    background: #fff;
    color: #3c8dbc;
    position: fixed;
    left: 0;
    float: left;
    height: 100%;
    width: 30%;
    min-width: 266px;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}


#rowLogin {
    margin-top: 55%;
    margin-left: 35px;
}

.img-Login{
    height: 100%;
    position: fixed;
    background-color: #3c8dbc;
    visibility: visible;
    display: block;
    float: right;
    margin-left: 30%;
    
}

#btnCustom {
    background-color: #3c8dbc;
    color: #fff;
    border-color: #3c8dbc;
    float: right;
    width: 100px;
    margin-top: 10px;
}

.wicked{
	font-family: Wicked;
	font-style: normal;
}

.titleAdote{
    text-align: center;
    margin-right: 55px;
}

.titleAdote p{
    font-size: 16px;
}