<!-- CSS da página -->
<link rel="stylesheet" type="text/css" href="view/sAnuncios/sAnuncios.css">
<!--Inicio do código -->
<div class="container" ng-init="init()">
	<div class="panel panel-default">
		<div class="min-height-0 panel-default">
			<div class="panel-heading headingCss">
				<div class="row">
					<div class="col-md-8">
						<h4 class="wicked">
							<img src="../../dist/img/pata_de_felino.png" width="30px;" height="30px;" /> Seus Anuncios
						</h4>
					</div>
					<div class="col-md-4">
						<div class="input-group" style="margin-top: 10px;">
							<input type="text" class="form-control roundedBar" ng-model="busca" placeholder="Busque seu anúncio aqui...">
							<span class="input-group-btn">
								<button class="btn btn-success" type="button">
									<span class="glyphicon glyphicon-search"></span>
									Buscar
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div dir-paginate="anuncios in anunciosView | filter: orderBy:sortKey:reverse|itemsPerPage: 7">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							{{anuncios.nome}} - {{anuncios.raca}}
						</div>
						<div class="col-md-4">
							{{anuncios.dataCadastro}}
						</div>
						<div class="col-md-4" data-toggle="modal" data-target="#modalAdocao" style="cursor:pointer" ng-click="carregaDetalhes(this.anuncios)">
							<p>Ver Mais
								<span class="glyphicon glyphicon-chevron-down"></span>
							</p>
						</div>
					</div>
				</div>
				<hr>
			</div>
			<div class="row text-center">
				<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>

<!-- Modal adocao -->
<div id="modalAdocao" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Conteudo do modal-->
		<div class="modal-content">
			<div class="modal-header headingCss" style="padding-bottom: 5px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<p class="wicked">
					<img src="../../dist/img/pata_de_felino.png" width="20px;" height="20px;" /> Detalhes do animal
				</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<form name="achadoForm">
						<div class="col-md-12">
							<div class="col-md-5">
								<!-- Required -->
								<img  style="margin-top:20px;" src="images/{{detalhes.url}}" class="img-responsive img-thumbnail imgAdocao">
							</div>
							<div class="col-md-7">
								<div class="form-group">
									<label for="nomeAnimal">Nome do animal</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="detalhes.nome" required class="form-control" placeholder="Nome do animal" id="nomeAnimal" />
								</div>
								<div class="form-group">
									<label for="raca">Raça</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="detalhes.raca" required class="form-control" placeholder="Raça" id="raca" />
								</div>
								<div class="form-group" ng-if="detalhes.preco">
									<label for="raca">Preço</label>
									<span style="color:red">*</span>
									<input type="text" ng-model="detalhes.preco" required class="form-control" placeholder="RPreçoaça" id="preco" />
								</div>
								<div class="form-group">
									<label for="sexo">Sexo</label>
									<span style="color:red">*</span>
									<select ng-model="detalhes.sexo" required class="form-control">
										<option value="" selected>Selecione o sexo do animal</option>
										<option value="Macho">Macho</option>
										<option value="Fêmea">Fêmea</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-12">
								<label for="comentarios">Comentários adicionais</label>
								<textarea ng-model="detalhes.comentario" class="form-control" rows="5" id="comentarios"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-disabled="achadoForm.$invalid" ng-click="alterarAnuncio(detalhes)">Alterar anúncio</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
				</div>
			</div>
			</div>
		</div>
	</div>