<!-- CSS da página -->
<link rel="stylesheet" type="text/css" href="view/adocao/adote.css">
<link rel="stylesheet" href="../plugins/jQuery/jquery-2.2.3.min.js">
<link rel="stylesheet" href="../plugins/jQuery/jquery.mask.js">
<!--Inicio do código -->
<div class="container" ng-init="init()">
    <div class="panel panel-default">
        <div class="min-height-0 panel-default">
            <div class="panel-heading headingCss">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="wicked">
                            <img src="../../dist/img/pata_de_felino.png" width="30px;" height="30px;" /> Adote um animal
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div dir-paginate="animal in animais | filter: orderBy:sortKey:reverse|itemsPerPage: 4">
                <div class="col-md-3">
                    <div id="columnAlign">
                        <img class="card-img-top img-thumbnail imglogo" src="images/{{animal.fotoUrl}}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5" style="margin-top: 5px;">
                                    {{animal.nome}}
                                </div>
                                <div class="col-md-7" style="margin-top: 5px;">
                                    {{animal.cidade}} - {{animal.estado}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>